<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/room_pp.css"/>
</head>
<body>
<div id="app">
    <header>
        <h1>VODKA online</h1>
        <div id="user-info" v-if="username">
            {{username}}님, 환영합니다! <a @click="logout()">로그아웃</a>
        </div>
    </header>
    <main>
        <section id="main-wrapper">
            <section id="board" class="default-box">
                <h2>board</h2>
                <h2 class="right">{{ title }}</h2>

                <button id="start-game" v-if="!game.playing && inGame" @click="startGame()">
                    게임 시작하기
                </button>
                <div id="waiting-game" v-else-if="!game.playing">게임을 기다리는 중..</div>

                <div id="cards-wrapper"
                     :style="`padding-left: ${countCard(game.board[7])%2?0:30}px`"
                >
                    <div class="cards-row"
                         v-for="(cardRow, row) in game.board"
                         :style="`padding-left: ${(7-row)*30}px; display: ${(row < 5 && countCard(cardRow) === 0)?'none':'flex'};`"
                    >
                        <template v-for="(card, c) in cardRow">
                            <div class="card" :class="card.color" v-if="card.color"></div>
                            <div class="card adjacent"
                                 :class="card.activate?(myTurn?'activate':'semi-activate'):''"
                                 v-else-if="card.adjacent"
                                 @click="playCard(row, c)"
                            ></div>
                            <div class="card" style="visibility: hidden;" v-else></div>
                        </template>
                    </div>
                </div>
            </section>
            <section id="users" class="default-box">
                <h2>player</h2>
                <div class="user-wrapper" v-for="(player, idx) in game.players">
                    <a class="name" @click="replacePlayer(idx)">{{player.name}}</a>
                    <div v-if="idx === game.turn" class="turn"></div>
                    <div class="score">{{player.score}}</div>
                </div>
                <button id="start-game" v-if="!game.playing" @click="joinGame()">
                    <template v-if="inGame">봇 추가하기</template>
                    <template v-else>게임 참가하기</template>
                </button>
                <button id="start-game" v-if="inGame" @click="leaveGame()">
                    게임 떠나기
                </button>
            </section>
        </section>
        <section id="hands" class="default-box" :class="myTurn?'activate':''">
            <h2>hands</h2>
            <h2 v-if="myTurn" id="pass-button" @click="passTurn()" class="right">패스하기</h2>
            <div class="card" :class="`${card.color} ${card.activate?'activate':''}`" v-for="(card, idx) in hands" @click="activate(idx)"></div>
        </section>
    </main>
    <a v-if="game.waitingRound" id="start-round" @click="startRound()">새 라운드 시작하기</a>
    <a v-else id="reset-game" @click="resetGame()">게임 하드 리셋</a>
</div>

</body>
<script>
    const id = parseInt('<%= id %>');

    const app = new Vue({
        el: '#app',
        data: {
            username: null,
            title: null,
            users: [],
            game: null,
            hands: [],
            inGame: false,
            selectedColor: null,
            myTurn: false,
            waitingRound: false,
        },
        created() {
            const socket = io();

            socket.on('connection', () => {

                let name = getCookie('online-vodka-username');
                while(name === null || name === ''){
                    name = prompt('이름을 입력해주세요.');
                }
                this.username = name;
                setCookie('online-vodka-username', name, 1);
                socket.emit('join', name, id);

                this.updateData();
            });

            socket.on('update', () => {
                console.log('update');
                this.updateData();
            });
            socket.on('round start', () => {
                this.updateData();
                console.log('round start');
            })
            socket.on('round end', async () => {
                await this.updateData();
                alert('라운드가 끝났어요. 준비되면 다음 라운드를 시작해 주세요.');
                console.log('round end');
            });
            socket.on('game end', async () => {
                await this.updateData();
                alert('게임 끝났어요. 다시 하려면 게임을 리셋해 주세요.');
                console.log('game end');
            });
        },
        methods: {
            async updateData() {
                // get rooms
                await axios.get('/api/room', {
                    params: {
                        id,
                    }
                }).then(async (res) => {
                    const room = res.data.room;

                    this.title = room.title;
                    this.users = room.users;
                    this.game = room.game;

                    await this.updateProcess();
                }).catch((err) => {
                    console.log(err);
                });
            },
            async updateProcess(){
                let board = this.game.board;

                for(let cardRow of board){
                    if(this.countCard(board[7])%2){
                        cardRow.push({});
                    }
                }

                for(let r = 0; r < 8; r++){
                    for(let c = 0; c < board[r].length; c++){
                        if(board[r][c].color || board[r][c].adjacent) continue;

                        let adjacent = false;
                        if(c && board[r][c-1].color) adjacent = true;
                        if(c < board[r].length-1 && board[r][c+1].color) adjacent = true;
                        if(r < 7 && board[r+1][c].color) adjacent = true;
                        if(r < 7 && board[r+1][c+1].color) adjacent = true;

                        board[r][c].adjacent = adjacent;
                    }
                }

                this.hands = [];
                this.inGame = false;
                for(let player of this.game.players){
                    if(player.name === this.username){
                        this.inGame = true;
                        this.hands = player.hands;
                        this.hands.sort((a, b) => a.color > b.color ? 1 : a.color < b.color ? -1 : 0);
                        break;
                    }
                }

                this.myTurn = this.game.players[this.game.turn].name === this.username;
            },
            countCard(cardList) {
                let cnt = 0;
                for(let card of cardList){
                    if(card.color || card.adjacent) cnt++;
                }
                return cnt;
            },
            startGame() {
                axios.post('/api/game/start', {
                    id
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            joinGame() {
                axios.post('/api/game/join', {
                    id,
                    username: this.inGame ? '$bot' : this.username,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            leaveGame() {
                axios.post('/api/game/leave', {
                    id,
                    username: this.username,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            replacePlayer(idx) {
                if(this.game.players[idx].type === 'human') return;

                axios.post('/api/game/join', {
                    id,
                    username: this.inGame ? '$bot' : this.username,
                    idx,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            logout() {
                // 쿠키 삭제하기
                deleteCookie('online-vodka-username');

                // 로그아웃 요청 보내기
                axios.post('/api/account/logout', {
                    id,
                    username: this.username,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });

                // 새로고침
                location.reload();
            },
            resetGame() {
                if(confirm('게임을 정말 초기화하시겠습니까?')){
                    axios.post('/api/game/reset', {
                        id,
                    }).then((res) => {
                        if(res.data.error){
                            alert(res.data.error);
                        }
                    }).catch((err) => {
                        console.log(err);
                    });
                }
            },
            startRound() {
                if(confirm('다음 라운드를 시작하시겠습니까?')){
                    axios.post('/api/game/newRound', {
                        id,
                    }).then((res) => {
                        if(res.data.error){
                            alert(res.data.error);
                        }
                    }).catch((err) => {
                        console.log(err);
                    });
                }
            },
            activate(idx) {
                let board = this.game.board;

                if(this.hands[idx].activate){
                    Vue.set(this.hands[idx], 'activate', false);
                    for(let row of board){
                        for(let card of row){
                            card.activate = false;
                        }
                    }
                    this.selectedColor = null;
                    return;
                }

                this.selectedColor = this.hands[idx].color;

                for(let card of this.hands){
                    Vue.set(card, 'activate', false);
                    card.activate = false;
                }
                Vue.set(this.hands[idx], 'activate', true);

                for(let r = 0; r < 8; r++){
                    for(let c = 0; c < board[r].length; c++){
                        board[r][c].activate = false;
                        if(board[r][c].adjacent){
                            if(r === 7){
                                board[r][c].activate = true;
                                continue;
                            }

                            const c1 = board[r+1][c].color;
                            const c2 = board[r+1][c+1].color;

                            if(c1 && c2 && (c1 === this.selectedColor || c2 === this.selectedColor)){
                                board[r][c].activate = true;
                            }
                        }
                    }
                }
            },
            playCard(r, c){
                if(!this.myTurn) return;

                let board = this.game.board;
                if(!board[r][c].activate) return;

                axios.post('/api/game/pp/play', {
                    id,
                    username: this.username,
                    position: {r, c},
                    color: this.selectedColor,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            passTurn(){
                axios.post('/api/game/pp/pass', {
                    id,
                    username: this.username,
                }).then((res) => {
                    if(res.data.error){
                        alert(res.data.error);
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
        },
    });
</script>
<script>
    const setCookie = (name, value, exp) => {
        const date = new Date();
        date.setTime(date.getTime() + exp*24*60*60*1000);
        document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };
    const getCookie = (name) => {
        const value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value?value[2]:null;
    };
    const deleteCookie = (name) => {
        document.cookie = name + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;path=/';
    }
</script>
</html>