
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

$border-grey: #B0B0B0;

* {
  box-sizing: border-box;
  outline: none;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 40px;
}

h1, h2{
  margin: 0;
}

body{
  width: 800px;
  margin: auto;
}

header{
  position: relative;

  width: 100%;
  height: 50px;
  margin-bottom: 12px;

  border-bottom: $border-grey 1px solid;

  h1{
    position: absolute;
    left: 20px;
    bottom: 5px;

    font-weight: normal;
    font-size: 15px;
    line-height: 1;
  }

  #user-info{
    position: absolute;
    right: 20px;
    bottom: 5px;

    font-weight: normal;
    line-height: 1;

    a{
      margin-left: 5px;
      font-weight: bold;
      color: #d35400;
    }
  }
}

.card{
  width: 48px;
  height: 64px;
  margin-right: 12px;

  background: #FDFDFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;

  border-radius: 3px;
  &.adjacent{
    border: 1px dashed #CCCCCC;
    &.activate{
      box-shadow: none;
      background: #E6E5FF;
    }
    &.semi-activate{
      background: #FFF6EB;
    }
  }
  &:last-child{
    margin-right: 0;
  }
  &.activate{
    box-shadow: 0 0 1px 1px #d35400;
  }

  &.blue{ background-image: url("/image/pp/tilt_blue.png"); background-size: cover; }
  &.pink{ background-image: url("/image/pp/tilt_pink.png"); background-size: cover; }
  &.yellow{ background-image: url("/image/pp/tilt_yellow.png"); background-size: cover; }
  &.green{ background-image: url("/image/pp/tilt_green.png"); background-size: cover; }
  &.purple{ background-image: url("/image/pp/tilt_purple.png"); background-size: cover; }
}

button{
  width: 140px;
  height: 26px;

  margin-bottom: 10px;

  background: #FBFBFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;

  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
button:hover{
  background: #E6E5FF;
}

.default-box{
  position: relative;
  border: $border-grey 1px solid;
  border-radius: 3px;

  h2{
    position: absolute;
    left: 16px;
    top: 12px;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    &.right{
      left: auto;
      right: 16px;
    }
  }
}

#main-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#board{
  width: 600px;
  padding: 50px 36px 20px 36px;

  #start-game{
    position: absolute;

    left: 230px;
    top: 130px;
  }
  #waiting-game{
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    text-align: center;
    line-height: 26px;
  }

  #cards-wrapper{
    width: 100%;
    min-height: 212px;

    .cards-row{
      display: flex;
      padding-bottom: 10px;
    }
  }

}

#users {
  width: 180px;

  padding: 50px 20px 30px 20px;

  .user-wrapper{

    height: 15px;
    margin-bottom: 12px;

    .name{
      float: left;

      font-weight: bold;
      font-size: 12px;
      line-height: 17px;

      color: #7E7E7E;
    }

    .turn{
      float:left;
      margin-left: 5px;
      margin-top: 1px;
      height: 13px;
      width: 5px;
      background: #d35400;
      border-radius: 1px;
    }
    .score{
      float: right;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }
  }

}

#hands{
  padding: 40px 32px 8px 46px;
  min-height: 100px;
  margin-bottom: 10px;

  #pass-button{
    color: #666;
    font-size: 12px;
    text-decoration: underline;
  }

  .card{
    float: left;
    margin-bottom: 10px;
  }
}
#hands::after{
  content: '';
  display: table;
  clear: both;
}

#reset-game{
  float: right;
  color: #999;
  text-decoration: underline;
}
#start-round{
  float: right;
  color: #666;
  text-decoration: underline;
}